
// Buttons
// -------------------

// Overrides: atom/atom/static/buttons.less


.btn {
  padding: 6px 16px;
  color: lighten(@text-color, 6%);
  background-color: transparent;
  border: 1px solid @button-border-color-primary;
  border-radius: 3px;
  font-weight: 500;
  line-height: 1.5;
  height: auto;
  &:hover,
  &:focus {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #06c;
  }
  &:active {
    color: @text-color;
    background-color: darken(@button-background-color, 2%);
  }
  &.selected {
    color: @text-color;
    background-color: @button-background-color-selected;
  }
  &:focus,
  &:focus:active {
    outline: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] .btn {
    background-color: #d2d2d2 !important;
    border-color: #72767b;
    color: #72767b !important;
  }
}

.btn {
  &.btn-info,
  &.btn-success,
  &.btn-warning {
    &.selected {
      color: @text-color;
    }
  }
}

.btn-default.selected {
  background-color: #06c;
  &:hover {
    background-color: darken(#06c, 10%);
    color: @text-color;
  }
}
.btn-default {
  color: #06c;
}

// Button sizes --------------------------
.btn.btn-xs {
  font-size: .75rem;
}
.btn.btn-sm {
  font-size: .875rem;
}
.btn.btn-lg {
  font-size: 16px;
  font-weight: 700;
  padding: 16px 32px;
}

// Colored buttons -----------------------

.btn.btn-primary,
.btn.btn-primary.selected {
  color: @button-primary-color;
  background-color: @button-primary-background;
  border-color: @button-primary-background !important;
  box-shadow: none;
  &:hover, &:active, &:focus {
    background-color: #004080;
    border-color: #004080 !important;
  }
}

.btn.btn-info,
.btn.btn-info.selected {
  background-color: @button-info-background;
  color: @button-info-color;
  border-color: @button-info-background !important;
  box-shadow: none;
  &:hover, &:active, &:focus {
    background-color: lighten(@button-info-background, 15%);
    border-color: @button-info-background;
    color: @button-info-color;
  }
}

.btn.btn-success,
.btn.btn-success.selected {
  background-color: @button-success-background;
  color: @button-success-color;
  border-color: @button-success-background !important;
  box-shadow: none;
  &:hover, &:active, &:focus {
    background-color: lighten(@button-success-background, 15%);
    border-color: @button-success-background !important;
    color: @button-success-color;
  }
}

.btn.btn-warning,
.btn.btn-warning.selected {
  background-color: @button-warning-background;
  color: @button-warning-color;
  border-color: @button-warning-background !important;
  box-shadow: none;
  &:hover, &:active, &:focus {
    background-color: lighten(@button-warning-background, 15%);
    border-color: @button-warning-background !important;
    color: @button-warning-color;
  }
}

.btn.btn-error,
.btn.btn-error.selected {
  background-color: @button-error-background;
  color: @button-error-color;
  border-color: @button-error-background !important;
  box-shadow: none;
  &:hover, &:active, &:focus {
    background-color: lighten(@button-error-background, 15%);
    border-color: @button-error-background !important;
    color: @button-error-color;
  }
}

// .btn.btn-primary { .btn-color(#06c); } // --pf-global--primary-color--100
// .btn.btn-info    { .btn-color(#004368); } // --pf-global--info-color--200
// .btn.btn-success { .btn-color(#486b00); } // --pf-global--success-color--200
// .btn.btn-warning { .btn-color(#795600); } // --pf-global--warning-color--200
// .btn.btn-error   { .btn-color(#470000); } // --pf-global--danger-color--300

.btn-color(@bg) {
  color: @text-color;
  background-color: @bg;
  &:hover,
  &:focus {
    background-color: lighten(@bg, 15%);
  }
  &:active {
    background-color: darken(@bg, 10%);
  }
  &.selected {
    background-color: lighten(@bg, 10%);
  }
  &.selected:focus,
  &.selected:hover {
    background-color: lighten(@bg, 20%);
  }
}


// Button Group -----------------------

.btn-group > .btn {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.btn-group > .btn:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.btn-group > .btn:last-child,
.btn-group > .btn.selected:last-child,
.btn-group > .dropdown-toggle {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.btn-toolbar > .btn-group + .btn,
.btn-toolbar > .btn + .btn {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
