.settings-view {

  .package-card {
    background-color: transparent;
  }

  .packages .search-container .btn-group {
    margin: 2px 8px;
    padding-left: 1px;
  }

  .setting-title {
    margin-bottom: 8px;
    font-size: @font-size;
  }

  .setting-description {
    padding-bottom: 8px;
    font-weight: 500;
  }

  .sub-section .sub-section-heading {
    padding: 16px 8px;
  }
}
.settings-view .config-menu .button-area > .btn {
  width: 100%;
  overflow: hidden;
  word-break: unset;
  text-overflow: ellipsis;
}
