
// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view


.tree-view-resizer {
  border-right: 2px solid @tab-bar-background-color;
}

.tree-view {
  color: @text-color;
  // background-color: @tree-view-background-color;

  .list-item {
    border-left: 5px solid transparent;
    border-radius: 3px;
    &.selected {
      color: @text-color;
      background-color: @background-color-selected;
      border-left: 5px solid @text-color-highlight;
    }
  }
  .list-tree .selected::before {
    background-color: transparent;
  }
  .list-item {
    &:hover {
      background-color: rgba(0, 102, 204, .5);
      border-left: 5px solid @text-color-highlight;
    }
  }
}

.list-tree.has-collapsable-children .list-nested-item > .list-item::before {
  margin-right: 2px;
  margin-left: 4px;
}

.list-tree {

  .status-ignored,
  .status-ignored.selected,
  .status-ignored.selected.expanded {
    color: #72767b;
  }

  .status-modified,
  .status-modified.selected,
  .status-ignored.selected.expanded {
    color: #73bcf7;
  }

  .status-modified,
  .status-modified.selected,
  .status-modified.selected.expanded {
    .name.icon.icon-file-directory {
      &::after {
        content: "\f303"; // Pencil
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        font-size: 12px;
        display: inline-block;
        height: 12px;
        width: 12px;
        margin-top: 2px;
        margin-right: 8px;
        margin-left: 4px;
        float: right;
      }
    }
  }
}

li.file.entry.list-item {
  &.status-added {
    &::after {
      content: "\f067"; // Plus
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 12px;
      display: inline-block;
      height: 12px;
      width: 12px;
      margin-top: 2px;
      margin-right: 8px;
      margin-left: 4px;
      float: right;
    }
  }
  &.status-modified {
    &::after {
      content: "\f303"; // Pencil
      font-family: "Font Awesome 5 Free";
      font-weight: 700;
      font-size: 12px;
      display: inline-block;
      height: 12px;
      width: 12px;
      margin-top: 2px;
      margin-right: 8px;
      margin-left: 4px;
      float: right;
    }
  }
  &.status-ignored {
    &::after {
      content: "\f070"; // Eye Slash
      font-family: "Font Awesome 5 Free";
      font-weight: 700;
      font-size: 12px;
      display: inline-block;
      height: 12px;
      width: 12px;
      margin-top: 2px;
      margin-right: 8px;
      margin-left: 4px;
      float: right;
    }
  }
}
